<!DOCTYPE html>
<html>
  <head>
    <title>Youtube</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Youtube</h1>
    <p>Welcome to Youtube</p>
    <p><%= vid.id%></p>
      <p><%= vid.title %></p>
      <p><%= vid.views %></p>
  </body>
</html>
